.App {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.WalletStatus {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
}

.WalletInfo {
  display: flex;
  flex-direction: row
}

.WalletAddress {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 8px;
  padding: 8px;
}

.WalletBalance {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 8px;
  padding: 8px;
}

.TransactionList {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
}
.Error {
  color: red;
}

.SendMoney {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
}

.InputRow {
  display: flex;
  flex-direction: row;
  margin: 8px;
  padding: 8px;
}

.InputRowElement {
  display: flex;
  margin: 8px;
  padding: 8px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
